<div id="home" column>
    <p>VeriPieo Dashboard</p>
    <p id="username"></p>
    <button onclick="device_spinup();">Device Spinup</button>
    <button>Developer Console</button>
</div>
<div id="holder" row>
    <div id="device" column>
        <p>This VeriPieo device isn't running.</p>
    </div>
</div>
<div id="nologin" column>
    <p>Unfortunately, VeriPieo is not available for guests.</p>
    <p>You must log in to use a VeriPieo device.</p>
    <button onclick="window.location.reload();">Ok, I'm convinced.</button>
</div>