<div id="holder" row>
    <div id="device" column>
        <div id="content" column>
            <p>This VeriPieo device isn't running.</p>
        </div>
        <div id="splash" column>
            <p>This VeriPieo device isn't running.</p>
        </div>
    </div>
</div>
<div id="temporary">
</div>
<div id="nologin" column>
    <p>Unfortunately, VeriPieo is not available for guests.</p>
    <p>You must log in to use a VeriPieo device.</p>
    <button onclick="window.location.reload();">Ok, I'm convinced.</button>
</div>