body {
    background-color: #b7b5ff;
    max-width: 460px;
}

#device {
    align-items: center;
    height: 90vh;
    width: 45vh;
    border-radius: 5vh;
    border: 1vh groove black;
}

#device > back {
    display: none;
}