<div id="home" column>
    <p>VeriPieo Developer Console</p>
    <div row>
        <p>Your ID for linking:</p>
        <p id="developer-id">Loading...</p>
    </div>
    <button>Update / Edit Apps</button>
    <button>Publish New App</button>
    <button>My Profile</button>
    <a href="" input>VeriPieo Developer Guide</a>
</div>
<div id="register-developer" column>
    <p>Before we begin, please register this account as a developer:</p>
    <input id="register-developer-name" type="text" placeholder="Developer Name"/>
    <input id="register-developer-description" type="text" placeholder="Developer Description"/>
    <input id="register-developer-social" type="text" placeholder="Social Media URL"/>
    <button onclick="vpdevcon_register();">Register</button>
</div>
<p id="output"></p>